<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <RegistryUrl>https://c8n.io/camrose</RegistryUrl>
    <UserName>camrose</UserName>
    <PublishImageTag>2.0</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e9ea3f80-07f4-4bef-a233-5d87ef7d9abc</ProjectGuid>
    <_TargetId>DockerCustomContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>